
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Sigmar+One&display=swap');
/*styling for texts */
h1 {
    font-family: 'Boogaloo', cursive; 
    font-size: 155px;
    /*how thick the outlining of the letter is*/
    font-weight: 800;
    text-align: center;
    text-transform:capitalize;
    color: 	#000000;
    margin-bottom:0;
    margin-top:0;
}
a {
    font-family: 'Bungee Outline', cursive;
    font-size:  60px;
    font-style: bold;
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
    color: 	#000000; 
}
.welcome {
    font-family: 'Boogaloo', cursive; 
    font-size: 100px;
    font-weight:800;
    text-align: center;
    text-transform:capitalize;
    color: #344472;
    margin-top:0rem;
    line-height:80%;
  }
/*styling for the four top buttons */
nav {
    text-align: center;
    /*spacing between the buttons*/
    letter-spacing: 30px;
    margin-top: 1em;
}
body {
    background: #ccc;
}
.section{
    background-color: #ccc;
    border:none;

}
/*styling for the social media icons */
.footer {
     position: fixed;
     text-align: center;
     width: 50%;
     bottom: 10px;
     /*adding the social media icons to the right*/
     right: 50px;
 }
 .socials {
    font-family: 'Arial' ;
    float: right;
    padding: 10px;
    font-size:  70px;
    font-style: bold;
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
    color: 	#000000; 
 }
 /* for the about section */
 .container{
     position: relative;
 }
 /* .left {
    position: absolute;
    bottom: 0px;
    left: 40px;
  } */
  .aboutclass{
    font-family: 'Arial' ;
    font-size:  20px;
    font-style: bold;
    font-weight: 800;
    text-align: center;
    color: #07306E;  
  }
  .corner {
    position:relative;
    width: 100%;
    height: auto;
    opacity: 0.7;
    border-radius: 0%;
    max-width: 15%;

 }

/*overlapping photos */  
  .container {
    padding: 100px 30px;
    width: 80%;
    margin: 0 auto;
    max-width: 900px;
  }
  
  .image-stack::after {
    content: " ";
    display: table;
    clear: both;
  }
  
  .image-stack__item--top {
    float: left;
    width: 66%;
    margin-right: -100%;
    padding-top: 10%;
    position: relative;
    z-index: 1;
  }
  
  .image-stack__item--bottom {
    float: right;
    width: 69%;
  }
  img {
    width: 80%;
  }